<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sb.dao.bondperiodtype.BondPeriodTypeMapper">

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from `sb_bond_period_type`
    where `id` = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.sb.dao.bondperiodtype.model.BondPeriodTypeExample">
    delete from `sb_bond_period_type`
    <if test="_parameter != null">
      <include refid="Example_Where_Clause"/>
    </if>
  </delete>
  <insert id="insert" parameterType="com.sb.dao.bondperiodtype.model.BondPeriodType">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into `sb_bond_period_type` (
      `code`,
      `name`
    )
    values (
      #{code,jdbcType=VARCHAR},
      #{name,jdbcType=VARCHAR}
    )
  </insert>
  <insert id="insertSelective" parameterType="com.sb.dao.bondperiodtype.model.BondPeriodType">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into `sb_bond_period_type`
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="code != null">
      `code`,
      </if>
      <if test="name != null">
      `name`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="code != null">
      #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
      #{name,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <resultMap id="BaseResultMap" type="com.sb.dao.bondperiodtype.model.BondPeriodType">
    <id column="id" jdbcType="INTEGER" property="id"/>
    <result column="code" jdbcType="VARCHAR" property="code"/>
    <result column="name" jdbcType="VARCHAR" property="name"/>
  </resultMap>
  <select id="selectByExample" parameterType="com.sb.dao.bondperiodtype.model.BondPeriodTypeExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <if test="_parameter != null">
      <include refid="Example_Where_Clause"/>
    </if>
    from `sb_bond_period_type`
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <include refid="Base_Column_List"/>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from `sb_bond_period_type`
    where `id` = #{id,jdbcType=INTEGER}
  </select>
  <select id="countByExample" parameterType="com.sb.dao.bondperiodtype.model.BondPeriodTypeExample" resultType="java.lang.Integer">
    select count(*) from `sb_bond_period_type`
    <if test="_parameter != null">
    <include refid="Example_Where_Clause"/>
    </if>
  </select>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                      #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                      #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    `id`, `code`, `name`
  </sql>
  <update id="updateByExampleSelective" parameterType="map">
    update `sb_bond_period_type`
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause"/>
    </if>
    <set>
      <if test="record.code != null">
      `code` = #{record.code,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null">
      `name` = #{record.name,jdbcType=VARCHAR}
      </if>
    </set>
  </update>
  <update id="updateByExample" parameterType="map">
    update `sb_bond_period_type`
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause"/>
    </if>
    <set>
      `code` = #{record.code,jdbcType=VARCHAR},
      `name` = #{record.name,jdbcType=VARCHAR}
    </set>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sb.dao.bondperiodtype.model.BondPeriodType">
    update `sb_bond_period_type`
    <set>
      <if test="code != null">
      `code` = #{code,jdbcType=VARCHAR}, 
      </if>
      <if test="name != null">
      `name` = #{name,jdbcType=VARCHAR}
      </if>
    </set>
    where `id` = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sb.dao.bondperiodtype.model.BondPeriodType">
    update `sb_bond_period_type`
    <set>
      `code` = #{code,jdbcType=VARCHAR}, 
      `name` = #{name,jdbcType=VARCHAR}
    </set>
    where `id` = #{id,jdbcType=INTEGER}
  </update>
</mapper>
